# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\soare\OneDrive\Documentos\Faculdade\2SEMESTRE\IA\TrabalhoPratico\TP.IA.2020.Sample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
